<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Add a Book</title>
</head>
<body>
    <nav class="navbar navbar-light bg-success">
        <span class="navbar-brand mb-0 h1"><img src="/static/assets/reading_dash_logo.png" alt="dog reading dash logo" width="100px" height="100px"></span>
        <div class="flex justify-content-right">
        <a href ="/users/dashboard"><button class="btn btn-warning">Dashboard</button></a>
        <a href ="/logout"><button class="btn btn-warning">Logout</button></a>
        </div>
    </nav>
    <div class="containter bg-danger m-2 text-white d-flex justify-content-center">
        {% with messages = get_flashed_messages()%}
                {% if messages%}
                    <div id="popup">
                        {% for message in messages%}
                            <p>{{ message }}</p>
                        {% endfor %}
                        <button onclick="popup.remove()">Okay</button>
                    </div>
                {% endif %}
                {% endwith %}
    </div>
    <div class="containter m-2 d-flex justify-content-center bg-warning p-2">
        <h1>Add a Book to Your Reading Dash</h1>
    </div>
    <div class="containter m-2 d-flex justify-content-center bg-success">
        <form class="form-group d-flex flex-column align-items-start p-5" action = "/book/add" method = "post">
            <input type = "hidden" name="users_id" value = "{{ session.user_id }}" >
            <label>
                Title:
                <input type="text" name="title">
            </label>
            <label>
                Author:
                <input type="text" name="author">
            </label>
            <label>
                Rating:
                <input type="number" name="rating" min="1" max="5">
                </label>
            <label>
                Genre:
                <select name="genre">
                    <option value="nonfiction">nonfiction</option>
                    <option value="realistic fiction">realistic fiction</option>
                    <option value="historical fiction">historical fiction</option>
                    <option value="folk tale">folk tale</option>
                    <option value="fantasy">fantasy</option>
                    <option value="poetry">poetry</option>
                </select>
            </label>
            <label>
                Date Completed:
                    <input type="date" name="date_completed">
                </label>
            <label>
                <p>Summary in your own words:</p>
                <textarea name="summary" cols="50" rows="10"></textarea>
            </label>
            <input type="submit" value="Submit" class="btn btn-warning">
        </form>
    </div>

</body>
</html>