<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Reading Dash</title>
</head>
<body>
    <nav class="navbar navbar-light bg-success text-white">
        <span class="navbar-brand mb-0 h1"><img src="/static/assets/reading_dash_logo.png" alt="dog reading dash logo" width="120px" height="120px"></span>
        <h1>Welcome, {{ this_user.first_name }} to Reading Dash</h1>
        <a href ="/logout"><button class="btn btn-warning">Logout</button></a>
    </nav>
    <div class="d-flex bg-success justify-content-center m-3">
        <h2 class="m-4 bg-success text-white">Your Personal Book Shelf</h2>
        <a href ="/add_book"><button class="btn btn-warning m-4">Add a book</button></a>
    </div>
    <div class="d-flex justify-content-center">
        <table class=" table table-success m-4">
            <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Author</th>
                <th scope="col">Rating</th>
                <th scope="col">Date Completed</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>{% for book in the_users_books %}
                    {% if session.user_id == book.a_users_books.id %}
                        <td>{{book.title}}</td> 
                        <td>{{book.author}}</td>
                        <td>{{book.rating}}</td>
                        <td>{{book.date_completed}}</td>
                    <td><a href="/read/{{book.id}}">View </a> 
                        <a href="/edit/{{book.id}}">| Edit |</a>
                        <a href="/delete/{{book.id}}"> Delete</a>
                    </td>
                </tr>   {% endif %}
                    {% endfor %}
                    
            </tbody>
        </table>
    </div>
    <div class="d-flex bg-success justify-content-center m-3">
        <h2 class="m-4 bg-success text-white">Classmates' Books</h2>
    </div>
    <div class="d-flex justify-content-center">
        <table class=" table table-success m-4">
            <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Author</th>
                <th scope="col">Rating</th>
                <th scope="col">Date Completed</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>{% for book in the_users_books %}
                        {% if session.user_id != book.a_users_books.id %}
                        <td>{{book.title}}</td> 
                        <td>{{book.author}}</td>
                        <td>{{book.rating}}</td>
                        <td>{{book.date_completed}}</td>
                        <td><a href="/read/{{book.id}}">View </a> 
                        </td>
                    </tr>{% endif %}
                    {% endfor %}
                        
            </tbody>
        </table>
    </div>
    
</body>
</html>